<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TasksETM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TasksETM.Properties.Settings>
            <setting name="FromDepartFilter" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="ToDepartFilter" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="TaskCompletedFilter" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="TaskDateFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskDeadlineFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedLogin" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="SectionFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedDepartmentLogin" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="isGIPLogin" serializeAs="String">
                <value>False</value>
            </setting>
        </TasksETM.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="DefaultConnection"
    connectionString="Server=192.168.0.12;Port=5432;User Id=User;Password=123;Database=postgres"
    providerName="Npgsql" />
	</connectionStrings>
</configuration>