<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TasksETM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TasksETM.Properties.Settings>
            <setting name="FromDepartFilter" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="ToDepartFilter" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="TaskCompletedFilter" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="TaskDateFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskDeadlineFilter" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="SavedLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="SectionFilter" serializeAs="String">
                <value />
            </setting>
        </TasksETM.Properties.Settings>
    </userSettings>
</configuration>